dist/
*.pyc
*.sw[po]
*.secrets
*~
.tox
build
MANIFEST
/.coverage
coverage_html_report/
.idea
dist/*shellbot*
docs/apidocs/*
_build/
htmlcov/
shellbot.egg-info/
.project
.pydevproject
.settings
.DS_Store
.eggs/
test/local/